<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="template1">
<head>
    <meta charset="UTF-8"/>
    <title>Votre Banque</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">Problème d'autorisation</div>
                <div class="panel-body">
                    <div class="red">
                        Vous n'avez le droit d'accèder à cette ressource
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>